In [1]:
from pygeocoder import Geocoder
import numpy as np
import pandas as pd

In [6]:
# theAddress = "2902 3rd Place, Lubbock, TX"

# geoCodedAddress = Geocoder.geocode(theAddress)

# if geoCodedAddress.valid_address:
#     print 'Longitude: ', geoCodedAddress.coordinates[0]
#     print 'Latitude: ', geoCodedAddress.coordinates[1]
#     print
#     print 'Street Number: ', geoCodedAddress.street_number
#     print 'Street: ', geoCodedAddress.route
#     print 'City: ', geoCodedAddress.city
#     print 'State: ', geoCodedAddress.state
#     print 'Country: ', geoCodedAddress.country

In [7]:
theAddress = "6134 NE Alder Street, Hillsboro, OR"

geoCodedAddress = Geocoder.geocode(theAddress)

if geoCodedAddress.valid_address:
    print 'Longitude: ', geoCodedAddress.coordinates[0]
    print 'Latitude: ', geoCodedAddress.coordinates[1]
    print
    print 'Street Number: ', geoCodedAddress.street_number
    print 'Street: ', geoCodedAddress.route
    print 'City: ', geoCodedAddress.city
    print 'State: ', geoCodedAddress.state
    print 'Country: ', geoCodedAddress.country

Longitude:  45.5296323
Latitude:  -122.9180809

Street Number:  6134
Street:  Northeast Alder Street
City:  Hillsboro
State:  Oregon
Country:  United States

In [8]:
for i in Geocoder.reverse_geocode(geoCodedAddress.coordinates[0], geoCodedAddress.coordinates[1]):
    print i

6134 NE Alder St, Hillsboro, OR 97124, USA
Orenco Gardens, Hillsboro, OR 97124, USA
Hillsboro, OR, USA
Hillsboro, OR 97124, USA
Washington County, OR, USA
Portland Metropolitan Area, USA
Oregon, USA
United States

In [11]:
for i in Geocoder.reverse_geocode(43, -120):
    print i

Unnamed Road, Lakeview, OR 97630, USA
Lakeview, OR 97630, USA
Lake County, OR, USA
Oregon, USA
United States

In [12]:
geoCodedAddress = Geocoder.geocode("2 John Nwodo Close")
print 'Coordinates: ', geoCodedAddress.coordinates
print

for i in Geocoder.reverse_geocode(geoCodedAddress.coordinates[0], geoCodedAddress.coordinates[1]):
    print i

Coordinates:  (6.4579939, 7.508963499999998)

1 John Nwodo Close, GRA, Enugu, Nigeria
Otigba Junction Bus Stop, Ogui Rd, New Haven, Enugu, Nigeria
GRA, Enugu, Nigeria
Enugu, Nigeria
China Town, Nigeria
Enugu North, Nigeria
Enugu, Nigeria
Nigeria

In [14]:
theLocations = ['Fairbanks, AK', 'Reno, NV', 'Buenos Aires', 'Melbourne, Australia', 'Lagos, Nigeria', 'Munich, Germany', 'Mumbai, India', 'Beijing, China']

theLongs = []
theLats = []
for i in theLocations:
    geoCodedAddress = Geocoder.geocode(i)
    theLongs.append(geoCodedAddress.coordinates[0])
    theLats.append(geoCodedAddress.coordinates[1])

df = pd.DataFrame(columns=['Location', 'Longitude', 'Latitude'])
df.Location = theLocations
df['Longitude'] = theLongs
df['Latitude'] = theLats
df.to_csv('World_Locations.csv')
df

               Location  Longitude    Latitude
0         Fairbanks, AK  64.837778 -147.716389
1              Reno, NV  39.529633 -119.813803
2          Buenos Aires -34.603684  -58.381559
3  Melbourne, Australia -37.813628  144.963058
4        Lagos, Nigeria   6.524379    3.379206
5       Munich, Germany  48.135125   11.581981
6         Mumbai, India  19.075984   72.877656
7        Beijing, China  39.904200  116.407396

In [16]:
# theLocations = ['Fairbanks, AK', 'Reno, NV', 'Amarillo, TX', 'Fayetteville, AR', 'Ames, IA', 'Atlanta, GA', 'Chicago, IL', 'Baltimore, MD', 'Detroit, MI', 'Wyoming', 'Montana']

# theLongs = []
# theLats = []
# for i in theLocations:
#     geoCodedAddress = Geocoder.geocode(i)
#     theLongs.append(geoCodedAddress.coordinates[0])
#     theLats.append(geoCodedAddress.coordinates[1])

# df = pd.DataFrame(columns=['Longitude', 'Latitude'])
# df['Longitude'] = theLongs
# df['Latitude'] = theLats
# df.to_csv('US_Cities.csv')
# df